@import '../styles/_globalVars'

.logo
  font-family: $logoFont
  font-size: 1.6em

  &:hover
    transition-property: all
    transition-timing-function: ease
    transition-duration: 0.6s
    letter-spacing: 0.1em

  .red
    color: #eb1313

  .green
    color: #3edd0e