.navbar
  display: flex
  padding: 2rem 3rem 2rem 3rem
  justify-content: space-between
  border-bottom: 1px solid grey

  .links 
      display: flex
      gap: 2rem

  .links > a
      outline: 2px solid red

  .links > a:hover
      font-size: 1.2em
      transform: translateY(-10px)
      transition: all 0.4s linear