// font import
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Lato:wght@400;700;900&family=Raleway:wght@400;500;600;700;800;900&display=swap')

// fonts
$logoFont: 'Bree Serif', serif
$headings: 'Lato', sans-serif
$other: 'Raleway', sans-serif
  
// colors
$pink: #EA526F
$black: #000500
$white: #fcfcfc
$purple: #6A4C93
$blue: #1982C4

// font familes - to add later

// gradients
$lineargradone: linear-gradient(20.16deg, #6A4C93 25.35%, #EA526F 90.07%)

// transforms
$moveUp: translateY(-10px)

// screen sizes
$xl: 87.5em // 4k and hi res monitors
$lg: 60em // 1080p and hi res laptops
$med: 40em // hi res tablets and low res laptops
$sm: 28em // mobile and low res tablets
$xs: 20em // mobile only

// animation
$smooth: all 0.4s ease